/*------------------------------------------------
 *	p3-style.css
 *	for Project 3 DWA-15 Fall 2013
 *
 *	Breakfast Calorie Counter
 *	by Shawn Roe
 *	http://p3.kunostories.biz
 *
 *	Parts of the CSS are taken from:
 *
 *	Sticky Footer Solution
 *	by Steve Hatcher 
 *	http://stever.ca
 *	http://www.cssstickyfooter.com
--------------------------------------------------*/


html, body {
	height: 100%;
	font: 16px/26px Helvetica, Verdana, sans-serif;
}

h1 {
	font: bold 2em/1.8em Helvetica, Verdana, sans-serif;
	text-align: center;
}

h2 {
	font: bold 1.3em/1.5em Georgia, serif;
}

strong {
	font-weight: bold;
}

ol {
	list-style: decimal;
	list-style-position: inside;
}

ol > li {
	font-weight: bold;
}

#container {
	margin: 1em;
	padding: 0.5em;
	border: 1px solid #000;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 50px;
}

#header p {
	margin: .7em 3em;
}

#left {
	width: 35%;
	min-height: 525px;
	float: left;
	background-color: #F69;
	overflow: auto;
}

#right {
	width: 65%;
	min-height: 525px;
	float: right;
	background-color: #96F;
}

#footer {
	margin: 1em;
	padding: 0.5em;
	position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
}

.center {
	text-align: center;
}

#food .ui-accordion-content, #food .ui-widget-content {  
    background-color: transparent;
    background: transparent;
}

#food .ui-state-default {
	background: #F69;
	background-image: -moz-linear-gradient(top,  #F69 0%, #D69 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#F69), color-stop(100%,#D69)); /* Chrome,Safari4+ */  
    background-image: -webkit-linear-gradient(top,  #F69 0%,#D69 100%); /* Chrome10+,Safari5.1+ */
    color: #000;
}